<div class="py-20 px-8 flex justify-center">
  <div class="w-full max-w-lg space-y-12">
    <app-logo />

    <section>
      <h1 class="text-3xl font-bold text-center mb-4">Code Dimension</h1>
      <p class="text-center">
        Somos uma plataforma focada em ensinar Front-End e Angular, através de
        conteúdos didáticos e relevantes!
      </p>
    </section>

    <app-social-media class="block" />

    <section class="flex justify-center">
      <h2 class="text-2xl font-bold text-center">Nossos super cursos! 🚨👇🏽</h2>
    </section>

    <section class="space-y-8">
      <app-courses />
    </section>

    <section class="flex justify-center">
      <h2 class="text-2xl font-bold text-center">Já é aluno? 👨🏽‍💻👇🏽</h2>
    </section>

    <section class="space-y-8">
      <app-hotmart />
    </section>

    <section class="flex justify-center">
      <h2 class="text-2xl font-bold text-center">Nossos conteúdos! 💜👇🏽</h2>
    </section>

    <app-contents class="block" />

    <section class="flex justify-center">
      <h2 class="text-2xl font-bold text-center">
        Últimos vídeos do nosso canal! <br />
        😎📽️👇🏽
      </h2>
    </section>

    <app-yt-videos class="block" />
  </div>
</div>

<app-footer />
